


{% extends "base.html" %}
{% load django_bootstrap5 %} 
  
  {% block title %}
      Login      
  {% endblock title %}

{% block content %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{ message }}</p>                         
                    <form action="" method="POST" class="form">
                        {% csrf_token %}           
                        {% bootstrap_form form %}           
                        {% bootstrap_button button_type="submit" content="Save" %}
                    </form> 
            
            
            </div>
        </div>
    </div>
</main>


{% endblock content %}
    